body {
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
}
.card {
  border-radius: 25px;
  background: #fff;
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.author-text {
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 27px;
  font-weight: 400;
  line-height: 35px;
}
h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
p {
  margin: 0;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 19px;
}
